<div class="content_card d-flex">
  <div class="content_image">
    <img class="image" src="https://fakestoreapi.com/img/71YXzeOuslL._AC_UY879_.jpg" alt="Mens Casual Slim Fit">
  </div>

  <div class="content_body d-flex flex-column">
    <div class="content_title">
      <h1>Mens Casual Slim Fit</h1>
    </div>
    <div class="content_category">
      <h5><strong>Categoria:</strong>  Men's clothing"</h5>
    </div>
    <div class="content_description">
      <h3><strong>Description</strong></h3>
      <p>
        The color could be slightly different between on the screen and in practice. Please note that body builds vary
        by person, therefore, detailed size information should be reviewed below on the product description.
      </p>
    </div>
    <div class="content_price mt-3">
      <span><strong>R$ 299</strong></span>
    </div>
    <div class="content_button mt-2">
      <button mat-raised-button color="primary">Add Cart</button>
    </div>
  </div>
</div>
