.content_card {
  display: flex;
  flex-direction: column;
}

.cart_image > img {
  width: 100%;
  height: 100%;
}
.cart_image {
  width: 20%;
}

.content_title {
  margin-left: 10px;
  width: 20%;
}

.content_qtd {
  width: 25%;
}

hr {
  margin-top: -1%;
}
