.container {
  border: 2px green solid;

}

.form-container {
  box-shadow: 0px 4px 8px -2px #3f3e3e40;
  transition: 0.5s;
  min-width: 30%;
  min-height: 50%;
  padding: 2rem;
}

.form-container:hover {
  box-shadow: 10px 10px 22px 0px #3f3e3e40;
  transition: 0.5s;
}

.form-container mat-form-field + mat-form-field {
  display: flex;
  flex-direction: column;
}
