/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-mode {
  background-color: rgb(58, 57, 57);
  color: white;
}

.nav-dark {
  background-color: rgb(26, 25, 25);
}

.icon-dark {
  color: white;

}

