/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-mode {
  background-color: rgb(58, 57, 57);
  color: white;
}

.nav-dark {
  background-color: rgb(26, 25, 25);
}

.header_dark_mode {
  background-color:#494848;
}

.icon-dark {
  color: white;
}


li a {
  color: #fff;
}

.shop-bag_darkMde{
  background-color:#494848;
  color:#fff;
  height:50px;
  width:50px;
  font-size:25px;
  display:flex;
  border-radius:50%;
  align-items:center;
  justify-content:center;
}
