<div class="content_card d-flex" *ngIf="idSubject$ | async as product">

  <div class="content_image" >
    <img class="image" src="{{ product.image }}" alt=" {{ product.title }}" title="Photo {{ product.title }}">
  </div>

  <div class="content_body d-flex flex-column">
    <div class="content_title">
      <h1>{{ product.title }}</h1>
    </div>
    <div class="content_category">
      <h4><strong>Categoria:</strong> {{ product.category }}</h4>
    </div>
    <div class="content_description">
      <h3><strong>Description</strong></h3>
      <hr>
      <p>
        {{ product.description }}
      </p>
    </div>
    <div class="content_price mt-2 d-flex w-100 justify-content-between">
      <span><strong>Price </strong>>{{ product.price | currency: 'BRL' }}</span>
      <span><strong>Count </strong>{{ product.rating.count }}</span>
    </div>
    <div class="content_button mt-2 d-flex justify-content-between w-100">
      <button mat-raised-button color="primary">Add Cart</button>
      <div class="star">
        <span><mat-icon>star_rate_half</mat-icon></span>
        <span><mat-icon>star_rate_half</mat-icon></span>
        <span><mat-icon>star_rate_half</mat-icon></span>
        <span><mat-icon>star_rate</mat-icon></span>
      </div>
    </div>
  </div>
</div>
